        </div>
        <!-- <div> <h3 class="tex-center">footer</h3></div> -->
        <!-- jQuery -->
        
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js'></script>
        <script src="/js/main.js"></script>
    </body>
</html>
